.navbar {
    background: darkkhaki;
}

span {
    color: #b2d7ff;
    text-decoration: none;
    background: transparent;
}

ul {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;

}

body {
    background-image: url("https://images.unsplash.com/photo-1511795409834-ef04bbd61622?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top -150px; /* Adjust the background position to move the image up */
    background-attachment: fixed;
    font-family: "Courier New", monospace; /* Set a global font family */
    font-variant-caps: small-caps;

}

.navbar-brand {
    color: #343a40;
    font-weight: bold;
    font-family: monospace, "Courier New";
    font-variant-caps: small-caps;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: #343a40;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    background: #111;
    width: 100%;
    color: #fff;
    padding: 10px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-direction: column;*/
    text-align: center;
    height: 30px;
}

.footer-content h3 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: monospace, "Courier New";
    font-variant-caps: small-caps;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.insertData {
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-variant-caps: small-caps;

}

.registerContainer {
    /*background: rgba(189, 183, 107, 0.9);*/
    background: rgba(255, 255, 255, 0.3);
    border: #111111 1px solid;
    border-radius: 20px;
    margin-top: 50px;
    padding: 10px;
}

.red {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.red label {
    flex: 0 0 50%;
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
}

.red input, .red select {
    flex: 0 0 50%;
    padding: 5px;
    box-sizing: border-box;
}

#description {
    height: 100px;
}

label, .thead-dark th, .eventContainer div h4 {
    font-weight: bold;
    /*font-family: monospace, "Courier New";*/
    font-variant-caps: small-caps;
}

.eventContainer {
    margin-bottom: 60px;
}

.eventTableRow {
    background: rgba(255, 255, 255, 0.3);
}

/*.table tr{*/
/*    border-bottom: none;*/
/*}*/

.thead-dark th:first-child {
    border-top-left-radius: 20px;
}

.thead-dark th:last-child {
    border-top-right-radius: 20px
}

.thead-dark th{
    border: none;
}

.moreDetailsTable td{
    border: none;
}

.eventsTable td{
    border: #111111;
}
