<div th:fragment="navbar" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="/home">
                Eventrra
            </a>
            <button class="navbar-toggler" style="color:black" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li sec:authorize="hasRole('ROLE_CLIENT')" class="nav-item m-auto">
                        <a class="nav-link navbar-brand" href="/host_event">host an event</a>
                    </li>

                    <li sec:authorize="isAuthenticated()" class="nav-item m-auto">
                        <a class="nav-link navbar-brand" href="/my_events">scheduled events</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item m-auto">
                        <a class="nav-link navbar-brand" href="/users">all users</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item m-auto">
                        <a class="nav-link navbar-brand" href="/locations">all locations</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_CATERING')" class="nav-item m-auto">
                        <a class="nav-link navbar-brand" href="/drinks">my drinks</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_CATERING')" class="nav-item m-auto">
                        <a class="nav-link navbar-brand" href="/food">my food</a>
                    </li>
                </ul>

                <div sec:authorize="isAuthenticated()" class="nav-item mr-2">
                    <a th:text="${#authentication.principal.username}"
                       style="color:white; font-size: 15px;"
                       class="" href="/login/profile"></a>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <a href="/logout">
                        <button type="button" class="btn btn-outline-dark">Log out</button>
                    </a>
                </div>

                <div sec:authorize="isAnonymous()">
                    <a href="/login">
                        <button type="button" class="btn btn-outline-dark">Login</button>
                    </a>
                    <a href="/register">
                        <button type="button" class="btn btn-outline-dark">Sign up</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
