<div th:fragment="content" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="row mx-auto">
        <div class="col-12 text-right mt-3" sec:authorize="hasRole('ROLE_CLIENT')">
            <a th:href="@{'/caterings'}" class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i> Back to Caterings
            </a>
        </div>

        <div class="table-responsive mt-3">
            <table class="table eventsTable">
                <thead class="thead-dark rounded-top">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Alcoholic</th>
                    <th scope="col">Alcohol Percentage</th>
                    <th scope="col"
                        sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_CATERING')">
                        Actions
                    </th>
                    <th scope="col" sec:authorize="!hasRole('ROLE_ADMIN') or !hasRole('ROLE_CATERING')"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="eventTableRow"
                    th:each="drink : ${drinks}">
                    <td th:text="${drink.name}"></td>
                    <td th:text="${drink.isAlcoholic ? 'Yes' : 'No'}"></td>
                    <td th:text="${drink.percentsAlcohol}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_CATERING')">
                        <div style="display: flex; gap: 5px;">
                            <th:block>
                                <a th:href="@{'/drinks/edit/{id}' (id=${drink.id})}"
                                   class="btn btn-sm btn-info edit-product">
                                    <i class="fa fa-pencil-alt"></i> Edit
                                </a>
                            </th:block>
                            <th:block>
                                <form th:action="@{'/drinks/delete/{id}' (id=${drink.id})}" th:method="POST"
                                      style="margin: 0;">
                                    <button type="submit" class="btn btn-sm btn-danger delete-product">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                </form>
                            </th:block>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <div class="col mt-3 mb-3">
            <div class="row">
                <div class="col-md-8 mx-auto" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_CATERING')">
                    <form method="get" th:action="@{'/drinks/add'}">
                        <button class="btn btn-md btn-block col-4 mx-auto" type="submit"
                                style="background: darkslategray;
                                        color: white;">
                            Add new drink
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
