<div th:fragment="content">
    <div class="row">
        <div class="col-md-6 mx-auto registerContainer">
            <div class="insertData m-4 text-center">Insert data</div>
            <form class="form-signin mt-xl-5" method="post" action="/finishRegisterWaiter">
                <div class="red row">
                    <label class="col-6"
                           for="free_day">Insert a number for the free day of the week</label>
                    <input class="col-6" type="number" min="1" max="7" name="free_day" id="free_day" placeholder="Insert number"
                           th:value="${free_day}">
                </div>
                <div class="red row">
                    <label class="col-6" for="experience">Ages of experience</label>
                    <input class="col-6" min="1" type="number" name="experience" id="experience"
                           placeholder="Insert number"
                           th:value="${experience}">
                </div>
                <div class="red row">
                    <label class="col-6" for="catering_name">Catering Firm - Employer</label>
                    <select class="form-control col-6" name="catering_name" id="catering_name" required>
                        <option th:each="cat : ${caterings}"
                                th:text="${cat.getName()}"
                                th:value="${cat.getName()}">
                        </option>
                    </select>
                </div>

                <button type="submit"
                        class="col-4 btn btn-primary btn-md btn-block m-4 mx-auto"
                        style="background: darkslategray;">
                    Finish
                </button>
            </form>
        </div>
    </div>
</div>

