<div th:fragment="content">
    <div class="row">
        <div class="col-md-6 mx-auto registerContainer">
            <div class="insertData m-4 text-center">Insert data</div>
                <form class="form-signin mt-xl-5" method="post" action="/finishRegisterCatering">
                    <div class="red col-8 mx-auto">
                        <label class="col-6 text-left" for="price">Price</label>
                        <input class="col-6" type="number" name="price" id="price" placeholder="Insert price" th:value="${price}">
                    </div>
                    <div class="red col-8 mx-auto">
                        <label class="col-6 text-left" for="address">Address</label>
                        <input class="col-6" type="text" name="address" id="address" placeholder="Insert address"
                               th:value="${address}">
                    </div>
                    <button type="submit"
                            class="col-4 btn btn-primary btn-md btn-block m-4 mx-auto"
                            style="background: darkslategray;">
                        Finish
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>